@font-face {
    src: url(fonts/Luciole-Regular.ttf);
    font-family: "Luciole-Regular";
}

@font-face {
    src: url(fonts/Luciole-Bold.ttf);
    font-family: "Luciole-Bold";
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Luciole-Regular, Tahoma, Verdana, sans-serif;
    color: white;
    font-size: 1.5rem;
    scroll-behavior: smooth;
}

article {
    max-width: max-content;
    width: fit-content;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto 120px auto;
}

.countdown-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* border: 5px solid rgb(245, 245, 245); */
    /* background-color: rgb(245, 245, 245, 0.2); */
}

.countdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.date {
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.number {
    font-family: Luciole-Bold, Tahoma, Verdana, sans-serif;
    font-size: 3.5rem;
    padding: 0 10px;
    border: 2px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245, 0.2);
}


/* WAVE CSS ANIMATION -- https://alvarotrigo.com/blog/animated-backgrounds-css/ */
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #3586ff;
    overflow: hidden;
}

section .air {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}